* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 62.5%;
}

.header {
  font-size: 4rem;
  text-align: center;
  padding: 2rem 0;
}

h2 {
  text-align: center;
}

.reset-button {
  padding: 1rem 2rem;
  font-size: 2.5rem;
  display: block;
  margin: 0 auto;
}

.gameboard {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  cursor: pointer;
}

.gameboard-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.board-wrapper {
  border-top: solid 1px black;
  border-left: solid 1px black;
  margin: 3rem;
}

.cell {
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  position: relative;
}

.cell-ship {
  background-color: grey;
}
.cell-water {
  background-color: blue;
}

.cell-hit::before {
  content: '\274c';
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.player-board {
  position: relative;
}

.ship-placer {
  position: absolute;
  top: 5%;
  left: -20rem;
  z-index: 10;
}
