.gameboard {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.gameboard-container {
  display: flex;
  justify-content: center;
}

.board-wrapper {
  border-top: solid 1px black;
  border-left: solid 1px black;
  margin: 3rem;
}

.cell {
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}
